@font-face{
    font-family: Roboto;
    src: url(./Material/Roboto/Roboto-Medium.ttf);
}
@font-face{
    font-family: El Messiri;
    src: url(./Material/BattlesBridge/ElMessiri-VariableFont_wght.ttf);
}

:root{
    --color:rgb(230,114,27);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}
.content{
    width: 100vw;
    height: 100vh;
}

/* Left Side */
.content,
.logo{
    display: flex;
    flex-flow: row wrap;
}
.picture{
    background-image: url(./Material/photo-1625509972901-9c6c8e8d1069.avif);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}


.logo{
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

h1{
    color: black;
    font-family: El Messiri;
    font-size: 3rem;
    margin-top: 1.2vh;
}

.head {
    height: 10vh;
}

/* Right Side */

.right{
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.left{
    padding-left: 3vw;
}

.dummy-text{
    width: 90%;
    font-size: 1.4rem;
}

.remote-text{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.form{
    display: flex;
    flex-flow: row wrap;
    gap:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.form-title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

input{
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 1px solid rgb(45, 147, 243);
}


button{
    background-color: var(--color);
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
    cursor: pointer;
}

.log-in{
    display: flex;
    gap: 5px;
}

a{
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
}

a:hover{
    color: var(--color);
}

/* Mobile Responsivity */
@media only screen and (max-width: 600px)  {
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .picture{
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
    }
    .right{
        width: auto;
        height: auto;
    }
    .dummy-text{
        width: auto;
        margin-top: 30px;

    }
    .left{
        padding: 10px 20px;
    }
    .remote-text{
        padding: 20px 0;
        margin: 0;
    }
    .form{
        flex-flow: column nowrap;
        align-items: center;

    }
    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }
    .button,
    .log-in{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }

}